@keyframes floating {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(0px, -10px); }
    100% { transform: translate(0px, 0px); }
}

.floating {
    animation: floating 2.5s infinite ease-in-out;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: aqua;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: orange;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    padding: 2em;
    color: white;
    justify-content: space-between;
    backdrop-filter: blur(5px) brightness(1.4) saturate(0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#title {
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > a {
    margin: 0 1em;
    font-weight: normal;
    color: white !important;
    box-sizing: content-box;
}

a.current {
    font-weight: bold;
    border-bottom: solid 2px white;
}

section, footer {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("bg.jpg");
    background-size: cover;
    background-position: center center;
    z-index: -1;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20vh 0;
    margin: 0;
    color: white;
}

.avatar {
    width: 6em;
    height: 6em;
    transition: all 250ms;
}

.avatar > img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.screenshot:hover,
.avatar:hover {
    transform: scale(1.1);
    transition: all 250ms;
}

.project {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.project > .icon {
    font-size: 4em;
    margin: 0.25em;
}


.friends > li,
.socials > li,
.skills > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2em 0;
}

.socials > li > span,
.skills > li > span {
    margin-right: 2em;
}

.socials > li > span > span {
    padding-right: 1em;
}

.friends,
.socials,
.skills {
    list-style-type: none;
    padding: 0;
}

.friends > li {
    align-items: center;
}

.friends > li > .description {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.screenshots,
.avatars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
}

.avatars > .avatar {
    margin: 2em;
}

.screenshot {
    margin: 2em;
    max-width: calc(100% - 4em);
    width: 400px;
    height: 300px;
    transition: all 250ms;
    position: relative;
    overflow: hidden;
}

.screenshot > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.screenshot > .note {
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px) brightness(0.7) saturate(0.9);
    width: calc(100% - 2em);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 250ms;
}

.screenshot:hover > .note {
    transform: translateY(0);
    transition: all 250ms;
}

#lightbox {
    display: none;
    position: fixed;
    z-index: 5;
    backdrop-filter: blur(5px) brightness(0.7) saturate(0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#lightbox.active {
    display: flex;
    flex-direction: column;
}

#lightbox-close {
    display: flex;
    justify-content: end;
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#lightbox-close-button {
    padding: 1em;
    display: block;
    transition: all 250ms;
}

#lightbox-close-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#lightbox-content {
    position: relative;
}

#lightbox-image {
    width: 100%;
    height: calc(100% - 3em);
    object-fit: contain;
}