body {
    margin: 0;
    padding: 0;
}

a {
    color: aqua;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: orange;
}

section, footer {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("bg.jpg");
    background-size: cover;
    background-position: center center;
    z-index: -1;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20vh 0;
    margin: 0;
    color: white;
}

#avatar {
    width: 6em;
    height: 6em;
}

#avatar > img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project {
    margin: 2em 0;
}

.socials > li,
.skills > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2em 0;
}

.socials > li > span,
.skills > li > span {
    margin-right: 2em;
}

.socials,
.skills {
    list-style-type: none;
    padding: 0;
}